:root {
  --white: #fff;
  --black: #1a202c;
  --tw-gray-300: #e2e8f0;
  --tw-gray-600: #718096;
  --tw-blue-900: #2a4365;
  --tw-green-400: #68d391;
  --tw-yellow-200: rgb(254, 252, 191, 1);
  --tw-yellow-300: rgb(236, 201, 75, 0.4);
}